fastapi
uvicorn
streamlit
transformers
torch
accelerate
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-text-splitters
pypdf
groq
python-dotenv
ragas[transformers]
datasets
langchain-groq